body{
    background-color: black;
}
.paper{
    max-width: 900px;
    font-size: 20px;
    width: 900px;
    height: 1800px;
    padding: 0 0 0 20px;
    line-height: 30px;
    color: white;
    margin: 0 auto;
}
.flexbox{
    display: flex;
    background-color: rgb(255, 255, 255);
    color: black;
    width:90%;
    height: 400px;
    padding: 0 0 0 10px;
    margin: 0 auto;
}
.title{
    color: #43F9D2; 
    font-family: 'Lobster', cursive; 
    font-size: 50px; 
    font-weight: bolder;
    text-align: center;
    text-shadow: 2px 2px 2px gray;
}
.rawCode{
    border-right: 1px black solid;
    width: 50%;
}
.console{
    padding: 0 0 0 10px;
}
.content{
    color: black;
}
.element{
    color: orange;
}
h2{
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}
h4{
    color:red;
    font-size: 25px;
}
input{
    width: 25px;
    font-size: 17px;
}
.quiz{
    height: 200px;
    box-shadow: 6px 6px 2px green;
    background-color: rgb(226, 222, 222);
    color: black;
}
button{
    border-radius: 20px;
    box-shadow: 4px 4px 0 gray;
    font-size: 14px;
    width: 14%;
    height: 40px;
    background-color: #f4d694;
}
button:hover{
    background-color: #f7bc3dcb;
}
legend{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    padding: 20px 0 0 0;
}
.navProp{
    float: left;
}
li a{
    display: block;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navBar{
    background-color: rgb(58, 58, 218);
    position: fixed;
    top: 0;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
li a:hover:not(.active){
    background-color: rgb(9, 145, 199);
}
.active{
    background-color: rgb(0, 183, 255);
}